@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #161616;
    position: fixed;
    width: 100%;
    height: 80px;
} 


.nav-right{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

nav ul li .logo{
    float: left;
}

.nav{
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

nav ul{
    display: flex;
    
}

nav ul li{
    float: right;
}

.logo{
    width: 100px;
    height: auto;
    float: left;
    margin-top: 20px;
    margin-left: 120px;
}

nav ul li h5{
    color: white;
    font-size: 15px;
    float: right;
    margin-top: 28px;
    margin-right: 50px;
    margin-left: 20px;
    height: auto;
}

.container-main{
    display: flex;
}

.side-menu{
    display: block;
    float: left;
    height: 100vh;
    width: 350px;
    background-color: #161616;
    margin-top: 80px;
    position: fixed;
}

menu{
    text-align: center;
    margin-top: 20px;
}

menu ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

menu li{
    margin: 20px;
    font-size: 16px;
}

menu li a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(30, 30, 30);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 250px;
    margin-top: 40px;
}

.side-menu li a.active {
    color: rgb(255, 255, 255);
    background-color: #ff0000;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
}

li a:hover:not(.active) {
    background-color: rgb(78, 78, 78);
    color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 250px;
}


.details{
    background-color: transparent;
    width: 100%;
    height: 100vh;
    margin-top: 140px;
    margin-left: 355px;
    margin-right: 50px;
}

.banner-management h6{
    font-size: 20px;
    margin-left: 100px;
    margin-top: 130px;
}

.sqr-01{
    background-color: #b3b3b3;
    height: 200px;
    width: 250px;
    border-radius: 8px;
    align-items: center;
    margin-left: 100px;
    margin-top: 50px;
}

.sqrs{
    display: flex;
    flex-wrap: wrap;
}

.sqr-01 h1{
    padding-top: 35px;
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
}


h5{
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}


.see-more-btn-01{
    background-color: #ff0000;
    height: 50px;
    width: 250px;
    margin-top: 70px;
    border-radius: 8px;
    border: none;
}

.see-more-btn-01 p{
    color: white;
    font-size: 18px;
}

#banner-upload{
    margin-left: 100px;
    padding: 20px;
}

#add-btn{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 22px;
    color: rgb(255, 0, 0);
    margin-right: 50px;
    width: 60px;
    height: 60px;
    font-size: 60px;
    margin-bottom: 40px;
}


